/* 
    Tema base da pra apresentações no Escape.in com o deck.js
    Author: Luís Dalmolin <luis@escape.ppg.br>
*/
body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif; }

.slide {
  width: 955px;
  margin: 0 auto;
  border: 1px solid red; }
